TOOLJET_HOST=http://localhost:8082
LOCKBOX_MASTER_KEY=replace_with_lockbox_key
SECRET_KEY_BASE=replace_with_secret_key_base
TOOLJET_DB_USER=tooljet
TOOLJET_DB_PASS=tooljet
TOOLJET_DB_HOST=postgres
TOOLJET_DB_NAME=tooljet_db
PG_DB=tooljet_db
PG_USER=tooljet
PG_PASS=tooljet
PG_HOST=postgres
